.sidebar {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 200px;
    height: 150vh;
    align-items: flex-start;

    .sidebar-item { 
        display: flex;
        justify-content: center;
        padding: 40px 0;
        width: 100%;
      
       &:hover{
        color: black;
      }
  }
  .inner-text:hover {
    border-radius: 2px;
    background: linear-gradient(225deg, #aebfc6, #cfe3eb);
    box-shadow:  -3px 3px 6px #b0c1c8, 
             3px -3px 6px #d2e7f0;
    width: 200px;
  }
  .icon-re {
    position: relative;
    left: 40px;
    top: 3.5px;
  }
  
}
      
  
  
  
  